<style type="text/css">
#content,#content *,#content a:hover,#content a:visited,#content a:active{

}
</style>
<link rel="stylesheet"  type="text/css" href="http://unpkg.com/swagger-ui-dist@3/swagger-ui.css"/>
<style> .swagger-ui .scheme-container, .swagger-ui .topbar, .swagger-ui .auth-wrapper { display: none !important; } </style>
<script src="http://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>

<script>

window.onload = function() {

  // Build a system
  const ui = SwaggerUIBundle({
    url: "{{page.swagger}}",
    dom_id: '#content',
    defaultModelsExpandDepth: -1,
    docExpansion: "full",
    deepLinking: true,
    presets: [
      SwaggerUIBundle.presets.apis
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ]
  })

  window.ui = ui
}

</script>
